<h1><%= t(:signup) %></h1>

<%= form_for @user do |f| %>
<!-- make this a helper method -->
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email, t(:email) %><br />
    <%= f.text_field :email %>
  </p>
  <p>
	<!-- next two fields are not fields in db -->
    <%= f.label :password, t(:password ) %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, t(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>