<!-- header is for the blueprint css -->
  <header>
    <% logo = image_tag("logo.png", :alt => "t2t", :class => "round") %>
	<%= link_to logo, root_path %>
    <nav class="round">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Development", development_path %></li>
		<% unless loggedin? %>
        <li><%= link_to "Log in", login_path %></li>
		<% end %>
      </ul>
    </nav>
  </header>
